@import "bootstrap";
@import "font-awesome";

body {
  margin-top: 1rem;
}

.with-fixed-top-navbar {
  margin-top: 4rem;
}

.with-errors {
  color: #d9534f;
}

#discussion-messages {
  margin-bottom: 3rem;
}

.navbar-nav i.fa {
  margin-top: 0.75rem;
}

.title-view {
  padding: 0.3rem 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.message {
  padding: .5rem .8rem;
  margin-bottom: $spacer-y;
  border: $alert-border-width solid transparent;
  @include border-radius(1rem);
}

.message.mine {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.message.theirs {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
